{% extends "base.html" %} {% block head%} 

{% endblock %} {% block content%}
<!-- <div class="container">
          <div class="header-bottom"> -->
            <!-- <div class="cate-list d-flex flex-wrap">
              <a class="cate-item" href="/giavang/doji">DOJI</a>
                    
                   
                    
              <a class="cate-item" href="/giavang/sjc-tren-toan-quoc">SJC trên Toàn Quốc</a>
            
            
            
              <a class="cate-item" href="/giavang/bao-tin-minh-chau">Bảo Tín Minh Châu</a>
            
            
            
              <a class="cate-item" href="/giavang/mi-hong">Mi Hồng</a>
            
            
            
              <a class="cate-item" href="/giavang/pnj">PNJ</a>
            
            
            
              <a class="cate-item" href="/giavang/sjc">SJC</a>
            
            
            
              <a class="cate-item" href="/giavang/the-gioi">Thế Giới</a>
            
            
            
              <a class="cate-item" href="/giavang/phu-quy">Phú Quý</a>
            
            
            
              <a class="cate-item" href="/giavang/sjc-1-nam">SJC 1 năm</a>
            
            
            
              <a class="cate-item" href="/giavang/sjc-1-thang">SJC 1 tháng</a>
            
            
            
              <a class="cate-item" href="/giavang/sjc-hom-nay">SJC hôm nay</a>
            </div> -->
          </div>
        </div>
      </section>
    </header>
    <main>
      <div class="container">
        <div class="row mt-2">
          <article id="main" class="col-md-9 p-3">
            <h1 class="h5 text-main">
              Tổng hợp Giá vàng SJC trên Toàn Quốc
              <small> - Cập nhật lúc {{time.strftime("%H:%M:%S")}} {{time.strftime("%d/%m/%Y")}}</small>
            </h1>
            <p>
              Bảng so sánh giá vàng SJC trên toàn quốc cập nhật lúc
              <span class="text-main">{{time.strftime("%H:%M:%S")}} {{time.strftime("%d/%m/%Y")}}</span>
            </p>
            <p>
              Giá vàng SJC được cập nhật liên tục tại các hệ thống: SJC, DOJI,
              PNJ, Phú Quý, Bảo Tín Minh Châu.
            </p>
            <!-- <p>
              Ở bảng so sánh bên dưới,
              <span class="text-green fw-semibold">màu xanh</span> ở cột
              <span class="text-brown fw-semibold">Mua vào</span> sẽ tương ứng
              với giá
              <span class="text-brown fw-semibold">Mua vào cao nhất</span>;
              <span class="text-green fw-semibold">màu xanh</span> ở cột Bán ra
              sẽ tương ứng với giá
              <span class="text-brown fw-semibold">bán ra thấp nhất</span>.
            </p> -->
            <div class="unit text-end fst-italic fw-semibold text-red">
              <p>Đơn vị: đồng / chỉ</p></div>
      
          {{data|safe}}
       
            {% endblock %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
